body {color: black}

h1{
    font-family: 'Open Sans';
}

h2{
    font-family: 'Open Sans';
}
p1{color:rgb(8, 7, 7);
    font-size:15px;
    font-family:'Open Sans';
    text-align:left;
}
p2{color:skyblue;
    font-size:15px;
    font-family:'Open Sans';
   
    text-align:left;
   }

pPurple{ color: purple;
    font-size:15px;
    font-family:'Open Sans';
   
    text-align:left;
}
pComents{color: orangered;
    font-size:15px;
    font-family:'Open Sans';
   
    text-align:left;
}
projo{ color: red;
    font-size:15px;
    font-family:'Open Sans';
   
    text-align:left;
}
p3{ color: green;
    font-size:15px;
    font-family:'Open Sans';
   
    text-align:left;
}
p4{color: darkblue;
    font-size:15px;
    font-family:'Open Sans';
   
    text-align:left;
}